<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script rel="text/javascript" src="{{ url_for('static', filename='js/script.js') }}">
    </script>
</head>

<body>
    <h2>HTML Form</h2>
    <form action="/submit" method='post'>
        <label for="Science">Science:</label>
        <input type="text" id="science" name="science" value="0">

        <label for="Maths">Maths: </label>
        <input type="text" id="maths" name="maths" value="0">

        <label for="C">C:</label>
        <input type="text" id="c" name="c" value="0">

        <label for="datascience">Data Science:</label>
        <input type="text" id="datascience" name="datascience" value="0">

        <input type="submit" value="Submit">
    </form>
    <p>Click submit to send form data!</p>
</body>

</html>
